@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --max-width: 512px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  outline: none;
  user-select: none;
  text-decoration: none;
  z-index: auto;
  /* white-space: nowrap; */
  vertical-align: middle;
  line-height: normal;
  list-style: none;
  letter-spacing: inherit;
  word-break: break-word;
  overflow-x: hidden;
  touch-action: manipulation;
}

html {
  height: 100%;
}

.body {
  background: linear-gradient(#141e30, #243b55); 
  font-size: 16px;
  margin:0;
  padding:0;
}

body {
  font-family: 'Inter', sans-serif;
  background-image: linear-gradient(to bottom, #f5f5f5, #e8e8e8);
}


.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 84%;
  max-width: 400px;
  min-width: 350px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 40px;
  border: none;
  border-bottom: 1px solid #03e9f4;;
  outline: none;
  background: transparent;
  text-align: center;
}

.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #03e9f4;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: 40px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
  margin-bottom: 100px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-weight: bolder;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 3s;
  margin-top: 40px;
  letter-spacing: 4px;
  cursor: default;
  left: 0;
  }

/*   .login-box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
} */

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

.pass-label {
  color: #c1aba6;
}

header {
  margin: 0 auto;
}

header h1 {
    font-size: 24px;
    transition: 0.3s ease all;
}

.header-short-height {
    width: 100vw;
    height: 36px;
    position: fixed;
    top: 0;
    padding: 12px;
    background-color: rgb(255, 255, 255, 0.9);
    border-bottom: 1px solid rgb(51, 51, 51, 0.2);
    text-align: center;
}

.header-defaut {
  max-width: var(--max-width);
}

.header-short-height h1 {
    font-size: 15px;
    transition: 0.3s ease all;
}

main {
  transition: 0.3s ease all;
  display: flex;
  flex-direction: column;
  color: #333;
  margin: 0 auto;
  max-width: var(--max-width);
}

.sun-reading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  background-color: #fff;
  padding: 60px 0 24px 0;
}

#sun-reading {
  letter-spacing: 2px;
  color: #333;
  margin-bottom: 12px;
}

#home {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 100%;
  padding: 24px;
}

.item {
  width: 100%;
  box-sizing: border-box;
  color: white;
}

.item1 {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item2 {
  color: #141e30;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.4;
  font-size: 0.91rem;
  font-weight: 400;
}

.sun-light-summary {
  color: #3AA945;
  font-size: .8rem;
}

.nrTxt {
  color: #141e30a4;
  font-size: .91rem;
  font-weight: 400;
  line-height: 1.4;
}

.sunH {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
  background-color: #fff;
  padding-right: 24px;
}

.sunContainer {
  background: linear-gradient(#141e30, #243b55);
  width: 150px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sun {
  transform: scale(0.3);
	width: 80px;
	height: 80px;
	background-color: #FFDE00;
	border-radius: 50%;
	box-shadow:
		0 0 0 20px #FFDE0080,
		0 0 0 40px #FFDE0040,
		0 0 0 60px #FFDE0020,
		0 0 0 80px #FFDE0010,
		0 0 0 100px #FFDE0000,
		0 0 40px 100px #FFDE0010;
	animation:
		sunrise 2s infinite linear forwards,
		rays 2s 2s infinite linear;
}

@keyframes sunrise {
	0% {
		box-shadow: none;
	}
}

@keyframes rays {
	0% {
		box-shadow: 
		0 0 0 0 #FFDE0080,
		0 0 0 20px #FFDE0080,
		0 0 0 40px #FFDE0040,
		0 0 0 60px #FFDE0020,
		0 0 0 80px #FFDE0010,
		0 0 40px 100px #FFDE0010;
	}
	100% {
		box-shadow: 
		0 0 0 20px #FFDE0080,
		0 0 0 40px #FFDE0040,
		0 0 0 60px #FFDE0020,
		0 0 0 80px #FFDE0010,
		0 0 0 100px #FFDE0000,
		0 0 40px 100px #FFDE0010;
	}
}

footer {
 padding: 0 24px;
 display: flex;
 flex-direction: column;
 position: relative;
 padding: 0 50px;
}

footer::after,
footer::before {
  content: '';
  position: absolute;
  bottom: 0px;
  height: 1px;
  width: 50%;
  background: linear-gradient(to right, transparent, #141e3033);
}
footer::before {
  left: 0;
}
footer::after {
  right: 0;
  transform: scaleX(-1); 
}

footer span {
  color: #141e30a4;
  padding: 0 0 12px 0;
  text-align: center;
}

#threshold {
  color: #fff;
  position: absolute;
  right: 24px;
  bottom: 70px;
  right: 24px;
  overflow: hidden;
  z-index: 2;
}

#threshold span {
  font-size: 0.91rem;
}

#threshold span:last-child {
  border: 1px solid #fff;
  background-color: #3AA945;
  padding: 3px 8px;

}

#threshold span svg {
  transform: scale(0.5);
}


.set-irr-form {
  color: #141e30a4;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  background-color: #fff;
  padding: 24px;
  position: relative;
}

#max-entry div {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
  font-size: .91rem;

}
#max-entry div p {
  color: #bb6855;
}

#max-entry div h2 {
  text-align:left;
  font-weight: 500;
  color: #333;
  font-size: 18px;
  font-weight: 500;
}

#max-entry div h2::before {
  content: 'Minimum: ';
  font-size: .9rem;
   color: #141e30a4;
   font-weight: 400;
}

#max-entry-input,
#min-entry-input {
  border: 1px solid #f5f5f5;
  height: 40px;
  padding: 4px 12px;
  border-radius: 8px;
  width: 80%;
  background-image: linear-gradient(to bottom, #f5f5f5, #e8e8e8);
  font-size: 18px;
  font-weight: 500;
}


#back {
  position: absolute;
  left: 80px;
  bottom: 100px;
  padding: 4px 12px;
  background-color: #fff;
  border: 1px solid #141e303d;
}

#submit-next {
  position: absolute;
  right: 80px;
  bottom: 100px;
  padding: 4px 12px;
  background-color: #fff;
  border: 1px solid #141e303d;
  color: #fff;
  background-color: #3AA945;
}

#back-btn {
  border: none;
  background-color: transparent;
  margin-top: 90px;
  overflow: hidden;
}

#back-btn svg {
  transform: scale(0.5) rotate(180deg);
}

#submit {
  position: absolute;
  bottom: 100px;
  padding: 4px 12px;
  background-color: #fff;
  border: 1px solid #141e303d;
  color: #141e30;
}
