:root {
  --max-width: 512px;
}

@keyframes openApp {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    transform: scale(1.2);
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    opacity: 0.6;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 0.6;
    transform: scale(1);
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  outline: none;
  user-select: none;
  text-decoration: none;
  z-index: auto;

  /* white-space: nowrap; */
  vertical-align: middle;
  line-height: normal;
  list-style: none;
  letter-spacing: inherit;
  word-break: break-word;
  overflow-x: hidden;
  touch-action: manipulation;
}

html {
  height: 100%;
}

.body {
  background: linear-gradient(#141e30, #243b55);
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background-image: linear-gradient(to bottom, #f5f5f5, #e8e8e8);
}

.fs1 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 0.91rem;
  color: #333;
  background-color: transparent;
  border: none;
  width: 90%;
}

.fs1 h2 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
}

.fs1 h2::before {
  content: 'Minimum: ';
  font-size: 1rem;
  color: #333;
  font-weight: 400;
}

.fs2 {
  margin-top: 24px;
  border: none;
  display: flex;
  justify-content: center;
  gap: 48px;
  background-color: transparent;
  animation: openApp 1s ease-in-out;
}

footer span {
  color: #141e30a4;
  padding: 0 0 12px 0;
  text-align: center;
}

.small-txt {
  font-size: 0.9rem;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 84%;
  max-width: 400px;
  min-width: 350px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 40px;
  border: none;
  border-bottom: 1px solid #03e9f4;
  outline: none;
  background: transparent;
  text-align: center;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #03e9f4;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: 40px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
  margin-bottom: 100px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-weight: bolder;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 3s;
  margin-top: 40px;
  letter-spacing: 4px;
  cursor: default;
  left: 0;
}

/*   .login-box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
} */

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}

.pass-label {
  color: #c1aba6;
}

header {
  margin: 0 auto;
}

header h1 {
  font-size: 24px;
  transition: 0.3s ease all;
}

.header-short-height {
  width: 100vw;
  height: 36px;
  position: fixed;
  top: 0;
  padding: 12px;
  background-color: rgb(255, 255, 255, 0.9);
  border-bottom: 1px solid rgb(51, 51, 51, 0.2);
  text-align: center;
}

.header-defaut {
  max-width: var(--max-width);
}

.header-short-height h1 {
  font-size: 15px;
  transition: 0.3s ease all;
}

main {
  display: flex;
  flex-direction: column;
  color: #333;
  margin: 0 auto;
  max-width: var(--max-width);
  height: 100vh;
  transition-duration: 0.4s;
}

.sun-reading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  background-color: #fff;
  padding: 60px 0 24px 0;
}

#sun-reading {
  letter-spacing: 2px;
  color: #333;
  margin-bottom: 12px;
}

#home {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 100%;
  padding: 24px;
  background: linear-gradient(to bottom right, #ffffff, #f2f2f2);
}

.item {
  width: 100%;
  box-sizing: border-box;
  color: white;
}

.item1 {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item2 {
  color: #141e30;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.4;
  font-size: 0.91rem;
  font-weight: 400;
}

.sun-light-summary {
  color: #3aa945;
  font-size: 0.8rem;
}

.nrTxt {
  color: #141e30a4;
  font-size: 0.91rem;
  font-weight: 400;
  line-height: 1.4;
}

.sunH {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
  background-color: #fff;
  padding-right: 24px;
}

.sunContainer {
  background: linear-gradient(#141e30, #243b55);
  width: 150px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sun {
  transform: scale(0.3);
  width: 80px;
  height: 80px;
  background-color: #ffde00;
  border-radius: 50%;
  box-shadow:
    0 0 0 20px #ffde0080,
    0 0 0 40px #ffde0040,
    0 0 0 60px #ffde0020,
    0 0 0 80px #ffde0010,
    0 0 0 100px #ffde0000,
    0 0 40px 100px #ffde0010;
  animation:
    sunrise 2s infinite linear forwards,
    rays 2s 2s infinite linear;
}

@keyframes sunrise {
  0% {
    box-shadow: none;
  }
}

@keyframes rays {
  0% {
    box-shadow:
      0 0 0 0 #ffde0080,
      0 0 0 20px #ffde0080,
      0 0 0 40px #ffde0040,
      0 0 0 60px #ffde0020,
      0 0 0 80px #ffde0010,
      0 0 40px 100px #ffde0010;
  }

  100% {
    box-shadow:
      0 0 0 20px #ffde0080,
      0 0 0 40px #ffde0040,
      0 0 0 60px #ffde0020,
      0 0 0 80px #ffde0010,
      0 0 0 100px #ffde0000,
      0 0 40px 100px #ffde0010;
  }
}

#no-clients {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 24px 24px 24px;
  text-align: center;
}

#no-clients::after,
#no-clients::before {
  content: '';
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 50%;
  background: linear-gradient(to right, transparent, #141e3033);
}

#no-clients::before {
  left: 0;
}

#no-clients::after {
  right: 0;
  transform: scaleX(-1);
}

#threshold {
  display: flex;
  align-items: center;
  color: #fff;
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translate(-50%);
  overflow: hidden;
  z-index: 2;
}

#back-btn svg {
  transform: scale(0.5) rotate(180deg);
}

#threshold span {
  font-size: 0.91rem;
}

#threshold span:last-child {
  border: 1px solid #fff;
  background-color: #3aa945;
  padding: 3px 8px;
}

#threshold span svg {
  transform: scale(0.5);
}

.set-irr-form {
  color: #141e30a4;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  background-color: #fff;
  padding: 24px;
  position: relative;
}

#max-entry-input,
#min-entry-input {
  border: 1px solid #f5f5f5;
  height: 40px;
  padding: 4px 12px;
  border-radius: 8px;
  width: 90%;
  background-image: linear-gradient(to bottom, #f5f5f5, #e8e8e8);
  font-size: 18px;
  font-weight: 500;
}

.form-submit {
  max-height: 400px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  padding: 24px;
  background: linear-gradient(to bottom right, #ffffff, #f2f2f2);
}

.form-submit div {
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
}

.form-submit h2 {
  color: #fff;
  padding: 12px;
  width: 100%;
  color: #333;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to bottom right, rgba(245, 245, 245, 0), #e0e0e0, #f5f5f5);
  
}

#max-entry p {
  width: 90%;
  color: #ec4747a6;
}

#back {
  padding: 4px 12px;
  background-color: #fff;
  border: 1px solid #141e304b;
}

#submit-next {
  padding: 4px 12px;
  border: 1px solid #141e303d;
  color: #fff;
  background-color: #3aa945;
}

#submit-next:active {
  background-color: #3aa9452a;
  transition-duration: 0.4s;
}

#back-btn {
  margin-top: 24px;
  border: none;
  flex: content;
  background-color: transparent;
  overflow: hidden;
}

#submit {
  padding: 4px 12px;
  background-color: #fff;
  border: 1px solid #141e303d;
  color: #141e30;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 65px;
  height: 65px;
  
  
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 44px;
  height: 44px;
  margin: 8px;
  border: 4px solid transparent;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #3aa945 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}